<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danielakua.dbapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginPage" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".UpdateInfo" />
        <activity android:name=".MainPageActivity" />

        <activity android:name=".RecordsPageActivity"/>
        <activity android:name=".UsersList"/>
        <activity android:name=".SetDBPage" android:parentActivityName="com.example.danielakua.dbapp.AdminPage"/>
        <activity android:name=".AdminPage" android:parentActivityName="com.example.danielakua.dbapp.MainPageActivity"/>

        <activity android:name=".CreateTable" />

        <activity
            android:name=".AddToTable"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".TablesList"
            android:parentActivityName="com.example.danielakua.dbapp.MainPageActivity"/>

        <activity android:name=".GameList" android:parentActivityName="com.example.danielakua.dbapp.MainPageActivity" />

        <activity android:name=".DBMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>